/*******************************
    Author: Aleksandra Mazan
    Website: GalaQuendi
    Date: 20.03.2021
    File: index.css
    Styles for login site
********************************/

/******* Defaults *******/

/* paddings & margins */

#loginSec,
#downloadSec,
#features {
  padding: 4rem 8rem;
}

nav,
#loginSec,
.responsive-promo img,
#downloadSec,
#downloadSec div,
#features,
#features div,
input[type="text"],
footer {
  width: 100%;
}

/******* NAV *******/

.top-bar{
  background: var(--dark-green);
  padding: 0 4rem;
}

.brand-name {
  font-family: "Sacramento", sans-serif;
  font-size: 4rem;
  padding-right: 4rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 3rem 0;
  font-size: 2rem;
  text-transform: capitalize;
}

.gray-link {
  background: var(--nav-links-color);
  width: 32rem;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

nav .gray-link:hover,
button:hover {
  background: var(--dark-gray);
  transition: 0.2s;
}

.last-nav-item {
  position: relative;
  left: -8.1rem;
}

nav button{
  display: none;
}

/* hamburger menu */

.hamburger-menu-none{
  display: none;
}

/******* LOGIN SECTION *******/

#loginSec {
  align-items: center;
  justify-content: space-evenly;
}

.responsive-promo {
  text-align: center;
}

.responsive-promo img {
  height: auto;
}

/* Login Form */

#login-form > * {
  margin: 1rem 0;
}

#login-form div{
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

/******* DOWNLOAD SECTION *******/

#downloadSec a {
  text-align: center;
  margin: 0 3rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-decoration: none;
}

#downloadSec a {
  filter: saturate(0%);
}

#downloadSec a:hover {
  filter: saturate(100%);
  transform: scale(1.1);
  transition: 0.2s;
}

#downloadSec a:nth-child(4),
#downloadSec a:nth-child(5)
{
  display: none;
}

#downloadSec img {
  width: 5rem;
  height: 5rem;
  margin: 0 auto 2rem auto;
}

/******* FEATURES SECTION *******/

#features h1 {
  text-align: center;
}

#features div:first-child {
  margin-bottom: 2rem;
}

#features img {
  fill: rgba(255, 255, 255, 0.8);
  width: auto;
  height: 5rem;
}

#features .item {
  padding: 0 1rem;
  text-align: center;
}

#features .item img {
  margin-bottom: 1rem;
}

/******* FOOTER *******/

footer {
  text-align: center;
  padding: 1rem 0;
  background: var(--medium-gray);
}

/******* MEDIAS *******/

/******** Laptop ********/

@media screen and (max-width: 1198px) {
  
  /* padding */

  #loginSec,
  #downloadSec,
  #features {
    padding: 2rem 4rem;
  }

  /* NAV */

  .gray-link {
    display: none;
  }

  /* Login Section */

  #loginSec .responsive-promo {
    width: 20rem;
  }

}

/******** Tablet ********/

@media screen and (max-width: 992px) {
  
  /* padding */

  #loginSec,
  #downloadSec,
  #features {
    padding: 4rem;
  }

  /* NAV */

  nav{
    justify-content: space-between;
  }

  nav div{
    width: 100%;
    justify-content: space-between;
  }

  nav button{
    display: block;
  }

  nav button img{
    width: 2.5rem;
    height: auto;
  }

  nav .brand-name {
    font-size: 3rem;
  }

  .gray-link {
    display: none;
  }

  /* hamburger menu */

  .hamburger-menu-container{
    background-color: var(--medium-gray);
    padding: 0 4rem;
    animation: unfolding 2s 1 ease-in;
  }

  @keyframes unfolding{
    from{
      display: none;
    }
    to{
      display: block;
    }
  }

  .hamburger-menu-container > a{
    display: block;
  }

  /* Login Section */

  #loginSec {
    flex-direction: column-reverse;
  }

  #login-form{
    width: 80%;
  }

  /* Download Section */

  #downloadSec a {
    transform: scale(0.8);
    margin: 0 .5rem;
    filter: saturate(100%);
  }

  #downloadSec a:nth-child(1),
  #downloadSec a:nth-child(2),
  #downloadSec a:nth-child(3)
  {
    display: none;
  }

  #downloadSec a:nth-child(4),
  #downloadSec a:nth-child(5)
  {
    display: flex;
  }
  

  /* FEATURES Section */
  
  .items-container div {
    flex-direction: column;
  }

  #features .item {
    margin: 2rem auto;
  }
}

/******* Smartphones *******/

@media screen and (max-width: 688px) {
  /* padding */

  #loginSec,
  #downloadSec,
  #features {
    padding: 1rem .5rem;
  }

  /* NAV */

  nav .brand-name {
    font-family: "Sacramento", sans-serif;
    font-size: 2rem;
    padding-right: 1rem;
  }

  .gray-link {
    display: none;
  }

  /* Login Section */

  #loginSec {
    flex-direction: column-reverse;
  }

  #loginSec .responsive-promo {
    transform: scale(0.7);
  }

  #login-form div label,
  #login-form div a{
    font-size: .8rem;
  }

  /* Download Section */

  #downloadSec div {
    flex-direction: column;
  }

  #downloadSec a {
    transform: scale(0.8);
    margin: 0 .5rem;
    filter: saturate(100%);
  }

  #downloadSec a:nth-child(1),
  #downloadSec a:nth-child(2),
  #downloadSec a:nth-child(3)
  {
    display: none;
  }
  
  #downloadSec a:nth-child(4),
  #downloadSec a:nth-child(5)
  {
    display: flex;
  }

  /* Features Section */

  .items-container div {
    flex-direction: column;
  }

  #features div:first-child {
    margin-bottom: 2rem;
  }

  #features .item {
    margin: 2rem auto;
    padding: 0 1rem;
  }
}
