/*******************************
    Author: Aleksandra Mazan
    Website: GalaQuendi
    Date: 20.03.2021
    File: style.css
********************************/

:root {
  --dark-green: #00726c;
  --medium-green: #069d98;
  --light-green: #07beb8;
  --dark-gray: #212529;
  --medium-gray: #282c30;
  --light-gray: #2e3236;
  --dark-white: #b7bbbe;
  --medium-white: #e9ecef;
  --light-white: #ffffff;
  font-size: 16px;
}

/******* Default *******/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  line-height: 200%;
  color: rgba(255, 255, 255, 0.8);
}

*::selection{
    color: var(--light-green);
    background: var(--dark-green);
}

button,
input,
nav,
img{
  user-select: none;
}

body {
  background: var(--light-gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Laila", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 4rem;
  letter-spacing: 2px;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 28px;
}

input[type="text"] {
  padding: 0.5rem 1rem;
  background: transparent;
  width: 100%;
}

input[type="text"],
input[type="checkbox"] {
  border: 2px solid rgba(255, 255, 255, 0.5);
}

input[type="text"],
input[type="checkbox"],
button {
  border-radius: .125rem;
}

a,
input[type=checkbox] + label,
button{
  cursor: pointer;
}


/* checkbox */

input[type=checkbox] + label {
  display: block;
  margin: 0.2rem;
  padding: 0.2rem;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.125rem solid rgba(255,255,255,.8);
  border-radius: 0.2rem;
  width: 1.2rem;
  height: 1.2rem;
  padding: 0 .2rem;
  margin-right: 0.5rem;
  vertical-align: middle;
  color: transparent;
  transition: .2s;
}

input[type=checkbox]:checked + label:before {
  background-color: #00726C;
  border-color: #00726C;
  color: rgba(255,255,255,.8);
}

input[type=checkbox]:disabled + label:before {
  border-color: rgba(255,255,255,.8);
}

input[type=checkbox]:checked:disabled + label:before {
  background-color: #B7BBBE;
  border-color: #B7BBBE;
}

/* checkbox end */


button {
  background: #00726c;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

button,
button:focus,
input{
  border: 0;
  outline: 0;
}


/* Flexbox */

.dflex {
  display: flex;
}

.fd-col {
  flex-direction: column;
}

.fd-row {
  flex-direction: row;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

/* Paddings */

#loginSec,
#downloadSec,
#features {
  padding: 4rem 8rem;
  width: 100%;
}

.item img{
  margin-bottom: 1rem;
}

.item{
  text-align: center;
}

#features div > div:first-child{
  margin-bottom: 2rem;
}

/******* NAV *******/

nav {
  width: 100%;
  background: var(--dark-green);
  padding: 0 4rem;
}

.app-name {
  font-family: "Sacramento", sans-serif;
  font-size: 4rem;
  padding-right: 4rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 3rem 0;
  font-size: 2rem;
  text-transform: capitalize;
}

.gray-link {
  background: #40454a;
  width: 32rem;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  justify-content: center;
  align-items: center;
}

nav .gray-link:hover,
input[type="checkbox"]:hover,
button:hover{
  background: var(--dark-gray);
  transition: .2s;
}

.last-nav-item {
  position: relative;
  left: -8.1rem;
}

/******* LOGIN SECTION *******/

#loginSec {
  align-items: center;
  justify-content: space-evenly;
}

.responsive-promo h2 {
  text-align: center;
  margin-bottom: 3rem;
}

/* Login Form */

#login-form > * {
  margin: 1rem 0;
}


#forgottenPass {
  margin-left: 2rem;
}

/******* DOWNLOAD SECTION *******/

#downloadSec div {
  width: 100%;
}

#downloadSec a {
  text-align: center;
  margin: 0 3rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-decoration: none;
}

#downloadSec a {
  filter: saturate(0%);
}

#downloadSec a:hover {
  filter: saturate(100%);
  transform: scale(1.1);
  transition: .2s;
}

#downloadSec a img {
  margin-bottom: 2rem;
}

/******* FEATURES SECTION *******/

#features div{
    width: 100%;
}

#features img{
  fill: rgba(255,255,255,.8);
  width: auto;
  height: 4rem;
}

.jc-sa{
    justify-content: space-around;
}

#features .item{
    width: 24rem;
}

hr{
    width: 80%;
    background: rgba(255,255,255,.8);
}

/******* FOOTER *******/

footer{
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  background: var(--medium-gray);
}