/*******************************
    Author: Aleksandra Mazan
    Website: GalaQuendi
    Date: 20.03.2021
    File: style.css
********************************/

:root {
  --dark-green: #00726c;
  --medium-green: #069d98;
  --light-green: #07beb8;
  --dark-gray: #212529;
  --medium-gray: #282c30;
  --light-gray: #2e3236;
  --nav-links-color: #40454a;
  --dark-white: #b7bbbe;
  --medium-white: #e9ecef;
  --light-white: #ffffff;
  --white-with-opacity: rgba(255, 255, 255, 0.8);
  font-size: 16px;
}

/******* Default *******/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  line-height: 200%;
  color: var(--white-with-opacity);
}

*::selection{
    color: var(--light-green);
    background: var(--light-gray);
}

button,
input,
nav,
img{
  user-select: none;
}

body {
  background: var(--light-gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Laila", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 4rem;
  letter-spacing: 2px;
  color: var(--light-white);
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

/* Inputs */

input[type="text"] {
  padding: 0.5rem 1rem;
  background: transparent;
}

input::placeholder{
  color: rgba(255, 255, 255, 0.5);
}

input[type="text"],
input[type="checkbox"] {
  border: 2px solid rgba(255, 255, 255, 0.5);
}

input[type="text"],
input[type="checkbox"],
button {
  border-radius: .125rem;
}

button {
  background: #00726c;
  padding: 0.5rem 1rem;
  color: var(--light-white);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

button,
button:focus,
input{
  border: 0;
  outline: 0;
}

nav .nav-links li:hover,
input[type="checkbox"]:hover,
button:hover{
  background: var(--dark-gray);
  transition: .2s;
}

/* cursor & links */

a,
input[type=checkbox] + label,
button{
  cursor: pointer;
}

#loginSec a:hover,
#downloadSec a:hover,
#features a:hover,
footer  a:hover{
  filter: brightness(.8);
  transition: .2s;
}

/* checkbox */

input[type=checkbox] + label {
  display: block;
  margin: 0.2rem;
  padding: 0.2rem;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.125rem solid var(--white-with-opacity);
  border-radius: 0.2rem;
  width: 1.2rem;
  height: 1.2rem;
  padding: 0 .2rem;
  margin-right: 0.5rem;
  vertical-align: middle;
  color: transparent;
  transition: .2s;
}

input[type=checkbox]:checked + label:before {
  background-color: #00726C;
  border-color: #00726C;
  color: var(--white-with-opacity);
}

input[type=checkbox]:disabled + label:before {
  border-color: var(--white-with-opacity);
}

input[type=checkbox]:checked:disabled + label:before {
  background-color: #B7BBBE;
  border-color: #B7BBBE;
}

/* flexbox */

.dflex {
  display: flex;
}

.fd-col {
  flex-direction: column;
}

.fd-row {
  flex-direction: row;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.jc-sa{
    justify-content: space-around;
}

.jc-sb{
  justify-content: space-between;
}

.ai-c{
  align-items: center;
}

hr{
  width: 90%;
  background: var(--white-with-opacity);
}

/******* MEDIAS *******/

/******** Tablet ********/

@media screen and (max-width: 992px) {

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 2rem;
  }

button {
  padding: 1rem 2rem;
}
}

/******** Smartphones ********/

@media screen and (max-width: 688px) {

  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.75rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }

  p{
    font-size: .75rem;
  }

  button {
    padding: 1rem 2rem;
  }
  }